body {
    margin: auto;
    padding: 4%;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: rgba(121, 129, 141, 0.274);
    /* display: block; */
    box-sizing: border-box;
}
div {

    /* text-align: center; */
    margin-left: 15%;
    margin-right: 15%;
    height: auto;
}